    <% const evt = events[0] %> 
    <h1> <%= evt.name %></h1>
    <p> <%= evt.category %></p>
    <p> <%= evt.description %></p>
    <p> <%= evt.date %></p>
    <p> <%= evt.time %></p>
    <p> <%= evt.location %></p>

